/* Sidebar */

html {
	min-height: 100%;
	position:relative;
}

body {
	height:100%;
}

.tagit_padding {
	padding-right: 50px;
}

.tagit_sidebar {
	background-color:red;
	position: absolute;
	width: 50px;
	top:0;
	bottom:0;
	right:0;
	z-index:302;
}

.tagit_comment {
	font-family: "Slammer tag";
	background-color:white;
	font-size:2em;
	color:red;
	position:absolute;
	border:1px solid black;
}

.tagit_comment_thumbnail {
	position:relative;
	border:1px solid black;
}

.tagit_editor {
	position: absolute;
}

/* Overlay */

.tagit_body {
	margin: 0;
	min-height: 100%;
	position: relative;
}

.tagit_wall {
	position: absolute;
}

.tagit_background {
/*	position: absolute; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 999999;
}

.tagit_tag {
	color: white;
	font-size: 2em;
}
