.tagit_body {
	margin: 0;
	min-height: 100%;
	position: relative;
}

.tagit_background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
	z-index: 999999;
}

.tagit_tag {
	width: 50%;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;

	color: white;
	font-size: 10em;
}

html {
	min-height: 100%;
	position:relative;
}

body {
	height:100%;
}

.tagit_padding {
	padding-right: 50px;
}

.tagit_sidebar {
	background-color:red;
	position: absolute;
	width: 50px;
	top:0;
	bottom:0;
	right:0;
	z-index:302;
}

.comment {
	background-color:white;
	position:absolute;
	border:1px solid black;
}

.comment_thumbnail {
	position:relative;
	border:1px solid black;
}
